aioalice @ git+https://github.com/CodeX-Brogrammers/aioalice.git@master
beanie==1.23.6
pydantic-settings==2.1.0
pymorphy2 @ git+https://github.com/pymorphy2-fork/pymorphy2@master
pydantic~=2.5.2
motor~=3.3.2